body {
  margin: 0px;
  height: 100vh;
  overflow-x: hixdden;
  background: #020c19;
  background: radial-gradient(
    at 50% 100px,
    #0b2544 5%,
    #031328 30%,
    #010a17 100%
  );
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.header {
  height: auto;
  width: calc(100% - 170px) !important;
  background-color: #595959;
  width: 100%;
  padding: 70px 70px 70px 100px;
}

.headerTitle {
  font-size: 50px;
  color: white;
  font-weight: 700;
  padding: 10px;
}

.headerText {
  font-size: 20px;
  color: white;
  font-style: italic;
  font-weight: 300;
  padding: 10px;
}

.footer {
  height: 70px;
  width: 100%;
  background-color: #060d15;
  position: relative;
  float: left;
  clear: both;
  z-index: 999;
  text-align: center;
  margin-top: 100px;
  border-top: 1px solid #ffb701;
}

.bodyWrap {
  height: 100%;
  width: 100%;
}

.sidePanel {
  background-color: #bbb;
  width: 250px;
  height: 100%;
  color: white;
  display: inline-block;
  float: left;
}

.sidePanelHeaderBox {
  padding: 30px;
  border-style: none none solid none;
}

.sidePanelHeaderText {
  font-size: 25px;
  font-weight: 700;
}

.sidePanelSubheaderText {
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  margin-top: 10px;
  line-height: 20px;
}

.sidePanelChapterWrap {
  padding: 30px 0;
  font-size: 16px;
  font-weight: 300;
}

.sidePanelChapterWrap ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidePanelChapterWrap li {
  padding: 15px 30px 15px 30px;
  cursor: pointer;
}

.sidePanelChapterWrap li:hover {
  background: #dbdada;
}

.sidePanelChapterSelected {
  background: #595959;
}

.checkbox {
  visibility: hidden;
  float: right;
  line-height: 16px;
  font-size: 25px;
}

.visible {
  visibility: visible !important;
  display: inline-block !important;
}

.mainContentBox {
  display: inline-block;
  float: left;
  padding: 50px;
  width: calc(100% - 250px - 100px);
  padding-top: 160px;
}

.mainContentPane {
  display: none;
}

.fadeIn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeOut {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.contentPanelTitle {
  font-size: 30px;
  margin-bottom: 30px;
}

.contentPanelSubtitle {
  font-size: 25px;
  margin: 40px 0 30px 0;
  display: block;
  clear: both;
}

.contentPanelTextBlock {
  margin: 30px 0;
}

.columnWrap {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.columnHalf {
  display: inline-block;
  float: left;
  width: 480px;
  height: 550px;
  border: 1px solid #dbdada;
  border-radius: 5px;
  padding: 30px;
  margin: 20px 20px 20px 0;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
}

.columnHalf:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.columnThird {
  display: inline-block;
  float: left;
  width: 280px;
  height: 500px;
  border: 1px solid #dbdada;
  border-radius: 5px;
  padding: 30px;
  margin: 20px 20px 20px 0;
}

.columnThird:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.columnTitle {
  font-size: 19px;
  font-weight: 500;
  display: block;
}

.columnImg {
  width: 100%;
  height: 150px;
  background: #f3f3f3;
  margin: 20px 0;
}

.columnImg img {
  max-width: 100%;
  max-height: 150px;
}

.contentPanelNavWrap {
  margin: 30px 0;
  width: 100%;
  display: block;
}

.contentPanelPageGuide {
  display: inline-block;
  float: left;
  padding: 10px;
}

.contentPanelNavBtn {
  display: inline-block;
  float: left;
  padding: 10px;
  border: 1px solid #dbdada;
  border-radius: 5px;
  margin: 0 15px;
}

.noLeftMargin {
  margin: 0 15px 0 0;
}

.contentPanelNavBtn:hover {
  cursor: pointer;
  background-color: #dbdada;
}

.columnSubtitle {
  font-weight: 500;
  display: block;
}

.columnText {
  margin: 10px 0 20px 0;
  display: block;
}

.columnText ul {
  margin: 0;
  padding: 0 0 0 15px;
}

.strategyDonut {
  max-width: 250px;
}

.boxed4 ul {
  padding: 0;
  margin: 0;
}

.boxed4 li {
  padding: 20px;
  max-width: 210px;
  display: inline-block;
  float: left;
  border: 1px solid #dbdada;
  margin: 10px;
  border-radius: 5px;
  height: 200px;
  border-top: 8px solid #333;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.boxed4 li:first-child {
  margin-left: 0px;
}

.redBorder li {
  border-top: 8px solid #b00700;
}

.greenBorder li {
  border-top: 8px solid #101884;
}

.blueBorder li {
  border-top: 8px solid #124d31;
}

.greyBorder li:hover {
  border: 1px solid #333;
  border-top: 8px solid #333;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.redBorder li:hover {
  border: 1px solid #b00700;
  border-top: 8px solid #b00700;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.greenBorder li:hover {
  border: 1px solid #101884;
  border-top: 8px solid #101884;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.blueBorder li:hover {
  border: 1px solid #124d31;
  border-top: 8px solid #124d31;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.spacer {
  height: 1px;
  clear: both;
  display: block;
  width: 100%;
}

.bulletTitle {
  font-weight: 600;
  margin-bottom: 10px;
}

.bulletListTitle {
  font-weight: 500;
  display: inline-block;
  margin: 10px 0 20px 0;
}

.boxed3 {
  padding: 0;
  margin: 0;
  height: 290px;
}

.boxed3 li {
  padding: 20px;
  max-width: 210px;
  display: inline-block;
  float: left;
  border: 1px solid #dbdada;
  margin: 10px;
  border-radius: 5px;
  height: 220px;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.boxed3 li:hover {
  border: 1px solid #333;
  border-top: 8px solid #333;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.boxed3 li:first-child {
  margin-left: 0px;
}

.jobfamilyIcon {
  max-width: 120px;
  clear: both;
  padding: 10px;
  margin: 0 auto 15px auto;
  display: block;
}

.centerText {
  text-align: center;
}

.jobfamiliesGroup {
  padding: 20px;
  width: calc(100% - 40px);
  display: block;
  /* float: left; */
  border: 1px solid #dbdada;
  margin: 20px 0;
  border-radius: 5px;
  height: 315px;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}
.jobfamiliesGroup:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
.jobfamiliesGroup:hover .jfsep {
  background-color: red;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.jobfamiliesTitle {
  font-size: 16px;
  font-weight: 600;
}

.jobfamiliesGroup ul {
  padding: 0;
}

.jobfamiliesGroup li {
  width: calc(33.33% - 30px);
  display: inline-block;
  float: left;
  padding: 15px;
}

.jobfamiliesGroup li:first-child {
  margin-left: 0px;
}

.jfsep {
  width: 30px;
  height: 3px;
  border-radius: 5px;
  display: block;
  background-color: grey;
  margin: 10px 0;
}

.workdayScreenie {
  max-width: 600px;
  margin: 25px 0 35px 0;
  border: 1px solid #dbdada;
}

.howToFindJobFamily li {
  padding: 8px 0;
}

/*# sourceMappingURL=index.css.map */
/* - - - Accordion Styles - - - */
/* ----------------- */
/* - - Accordion - - */
/* ----------------- */
.transition,
p,
ul li i:before,
ul li i:after {
  transition: all 0.2s ease-in;
}

.flipIn,
h1,
ul li {
  animation: accordion 0.2s ease;
}

.rotate:hover {
  animation: rotate 0.7s ease;
}

.no-select,
h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.accordionBlock ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

.accordionBlock ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 0px;
  padding-top: 0px;
  border-top: 1px dotted #dce7eb;
}

.accordionBlock ul li:nth-of-type(1) {
  animation-delay: 0.2s;
}

.accordionBlock ul li:nth-of-type(2) {
  animation-delay: 0.2s;
}

.accordionBlock ul li:nth-of-type(3) {
  animation-delay: 0.2s;
}

.accordionBlock ul li:last-of-type {
  padding-bottom: 0;
}

.accordionBlock ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin: 25px 16px 0 0;
  right: 0;
}

.accordionBlock ul li i:before,
ul li i:after {
  content: "";
  position: absolute;
  background-color: #56d94a;
  width: 3px;
  height: 9px;
}

.accordionBlock ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

.accordionBlock ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

.accordionBlock ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  max-height: 45px;
}

.accordionBlock ul li input[type="checkbox"]:checked ~ div {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

.transition-2 {
  transition: all 0.2s ease-in-out;
}

.accordionBlock ul li input[type="checkbox"]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}

.accordionBlock ul li input[type="checkbox"]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes accordion {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(90deg);
    transform-origin: center center;
  }
  100% {
    transform: rotate(360deg);
  }
}
.accordionBlock li .paraWrap > p {
  display: block;
  margin: 16px 0px 0px 0px;
  font-size: 12px;
  max-width: 700px;
  line-height: 17px;
  padding: 0px 0px 25px 40px;
  color: #5b644f;
}

.paraWrap {
  width: 100%;
  background-color: #f7fff4;
  border-top: 1px solid #e2f2e1;
  height: 100%;
}

.paraWrap h4 {
  padding-left: 40px;
  font-size: 14px;
}

.infoWrap {
  position: absolute;
  top: 20px;
  right: 20px;
}

.infoWrap p {
  clear: both;
  display: block;
}

.infoWrap p:first-child {
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 0px 10px 0px;
  padding: 3px 10px 2px 0px;
  /* background-color: #efffdd; */
  border-right: 1px solid #d5e8d8;
  /* border-radius: 4px; */
  color: #709576;
  letter-spacing: 0.3px;
  float: left;
  margin-right: 10px;
  float: left;
}

.infoWrap .time {
  float: left;
  text-align: right;
}

.infoWrap .time img {
  width: 19px;
  height: auto;
  margin-right: 8px;
  display: inline-block;
  margin-top: 0px;
}

.infoWrap p {
  display: block;
  float: right;
  margin-top: 4px;
  color: #709576;
  font-size: 11px;
}

.linkBtn {
  display: block;
  clear: both;
  padding: 6px 20px 5px;
  font-size: 10px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #c6d59f;
  border-radius: 3px;
  margin: 15px 0px 3px 0px;
  color: #77912f;
  max-width: 40px;
  text-decoration: none;
}

.linkBtn:hover {
  background-color: #e7ffcf;
  border: 1px solid #b1db45;
  margin: 15px 0px 3px 0px;
  color: #7ea611;
}

.accordionBlock li .paraWrap > p {
  display: block;
  margin: 16px 0px 0px 0px;
  font-size: 12px;
  max-width: 700px;
  line-height: 17px;
  padding: 0px 0px 25px 40px;
  color: #5f558f;
}

.accordionBlock li .paraWrap h4 {
  color: #12035c;
  padding-top: 20px;
  font-weight: 400;
  padding: 25px;
  margin: 0;
}

.accordionBlock ul li i::before,
ul li i::after {
  content: "";
  position: absolute;
  background-color: #5222ff;
  width: 3px;
  height: 9px;
}

.linkBtn:hover {
  display: block;
  clear: both;
  padding: 6px 20px 5px;
  font-size: 10px;
  text-transform: uppercase;
  background-color: #714bfb;
  border: 1px solid #4c2ac6;
  border-radius: 3px;
  margin: 18px 0px 3px 0px;
  color: #f9f6ff;
}

.wideClear {
  width: 100%;
  clear: both;
  float: left;
}

.paraWrap {
  width: 100%;
  background-color: #f9f8ff;
  border-top: 1px solid #e6e1f2;
  height: 100%;
}

.infoWrap p:first-child {
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 0px 10px 0px;
  padding: 3px 10px 2px 0px;
  /* background-color: #efffdd; */
  border-right: 1px solid #dcd5e8;
  /* border-radius: 4px; */
  color: #6730c8;
  letter-spacing: 0.3px;
  float: left;
  margin-right: 10px;
  float: left;
}

.infoWrap p {
  display: block;
  float: right;
  margin-top: 4px;
  color: #6730c8;
  font-size: 11px;
}

.linkBtn {
  border: 1px solid #d1c0ff;
  color: #7c61c6;
}

.linkToHiveBtn {
  display: inline-block;
  padding: 10px;
  border: 1px solid #dbdada;
  border-radius: 5px;
  margin: 30px 0 20px 0;
  position: relative;
}
.linkToHiveBtn:hover {
  cursor: pointer;
  background-color: #dbdada;
}

/*# sourceMappingURL=index.css.map */

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  - - - - - - ADDITIONS NEED TO BE CONVERTED - - - - - - -- */
/*  - - - - - - ADDITIONS NEED TO BE CONVERTED - - - - - - -- */
/*  - - - - - - ADDITIONS NEED TO BE CONVERTED - - - - - - -- */
/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.max-w-1000 {
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
}

.max-w-1100 {
  max-width: 1100px;
  width: 100%;
  margin: 0px auto;
}

.wideClear {
  width: 100%;
  float: left;
  clear: both;
  position: relative;
}

.contentPanelSubtitle,
h1,
h2,
h3 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 900;
  font-style: normal;
}

h4,
h5,
h6,
div,
a,
li,
p,
ul,
ol {
  font-family: "Source Sans Pro";
}

/* - Navigation - */

.lotf-navigation {
  height: 70px;
  width: 100%;
  background-color: #060d15;
  position: relative;
  float: left;
  clear: both;
  z-index: 999;
}

.sourceSans {
  font-family: "Source Sans Pro", sans-serif;
}

.lotf-navigation .mainLogo {
  width: 216px;
  height: 56px;
  display: block;
  margin: 0px auto;
  cursor: pointer;
}

.lotf-navigation a img {
  width: 100%;
  display: block;
  margin-top: 22px;
}

.navList li:first-child {
  margin-left: 0px;
}

.navList li:last-child {
  margin-right: 0px;
}

.transition,
.transition:hover {
  transition: all 0.3s ease-in-out;
}

.navList li {
  list-style-type: none;
  display: inline-block;
  margin: 0px 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
}

.navList li a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

.navList li.current-page a,
.navList li a:hover {
  color: #ffb701;
}

.navList li a::after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: #617791;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -14px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.navList li.current-page a::after {
  background-color: #fff;
  opacity: 1;
}

.navList li a:hover::after {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.navList {
  position: absolute;
}

.navList.left {
  top: 23px;
  left: 260px;
}

.navList.right {
  top: 23px;
  right: 365px;
}

.current-page span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -36px;
  display: block;
  width: 50px;
  height: 25px;
  background-color: transparent;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  border: 1px solid #23344b;
  border-top: 0;
  transition: all 0.3s ease-in-out;
}

.current-page a:hover ~ span {
  border-color: #365175;
  transition: all 0.3s ease-in-out;
}

/* - - Title Header - - */
.titleHeader {
  padding: 80px 0px 120px !important;
  border-top: 0 solid black !important;
}
.titleHeader::before {
  background-image: url("../../images/galaxybg.jpg");
  background-size: cover;
  background-position: center -50px;

  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.65;
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.headerContent {
  width: 550px;
  margin: 0 auto 0 auto;
  text-align: center;
  position: relative;
  z-index: 10;
}

.headerContent h1,
.headerContent p {
  color: #fff;
  width: 100%;
}

.headerContent h1 {
  font-size: 52px;
  margin-top: 40px;
  margin-bottom: -5px;
}

.headerContent p {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: 20px;
}

.borderStrip {
  background-color: #aabacd;
  height: 7px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 60;
}

.middleOrb {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 80;
  width: 210px;
  height: 111px;
  background-image: url("../../images/subpage-center.png");
  background-size: cover;
  background-position: center top;
}

.middleOrb img {
  position: absolute;
  left: 69px;
  top: -28px;
  width: 70px;
  height: 70px;
  display: block;
  transition: top 0.3s ease-in-out;
}

.downBtn {
  position: absolute;
  left: calc(50% - 50px);
  transform: translateX(-50%);
  z-index: 80;
  bottom: 49px;
}

.downBtn img {
  height: 100px;
  width: auto;
  margin: 0 auto;
  z-index: 10;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  transition: top 0.3s ease-in-out;
}

.lorBtn {
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #ffb701;
  border-radius: 5px;
  /* margin: 0 15px; */
  z-index: 20;
  position: absolute;
  bottom: -27px;
  left: 50px;
  color: white;
  font-weight: 700;
  background-color: #ffb701;
  transition: 0.3s ease-in-out;
  font-size: 20px;
}
.lorBtn:hover {
  cursor: pointer;
  /* color: #ffb701; */
  background-color: #ffb701;
  /* border: 1px solid #183159; */
  /* background-color:; */
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

/* - - Content sections - - */

.contentSection {
  /* width: 550px;
  margin: 0 auto 0 auto; */
  text-align: center;
  position: relative;
  z-index: 10;
  width: 1000px;
  margin: 0 auto;
}
.lastSection {
  width: 1100px;
}

.contentSection h2,
.contentSection p {
  color: #fff;
  width: 100%;
}

.contentSection h2 {
  font-size: 38px;
  margin-top: 48px;
  margin-bottom: -5px;
}

.contentSection p {
  font-size: 18px;
  /* font-style: italic; */
  font-weight: 300;
  line-height: 20px;
}

.leftBox {
  text-align: left;
  width: 450px;
  float: left;
}
.rightBox {
  text-align: left;
  width: 450px;
  float: right;
}

.row {
  width: 100%;
  float: left;
  clear: both;
  position: relative;
  border-top: 1px solid #183159;
  padding: 80px 0px 100px;
}
.lastBox {
  text-align: left;
  width: 100%;
  padding: 10px 50px 50px;
  border-radius: 6px;
  border: 2px solid #183159;
}
.lastBox::before {
  background-image: url("../../images/spacebg2.jpg");
  background-size: cover;
  background-position: center;

  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.contentBg1::before {
  background-image: url("../../images/digitalbg.jpg");
  background-size: cover;
  background-position: center -260px;

  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.contentBg2::before {
  background-image: url("../../images/databg.png");
  background-size: cover;
  background-position: center -260px;

  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.contentBg3::before {
  background-image: url("../../images/treesbg.jpg");
  background-size: cover;
  background-position: center -260px;

  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.contentBg4::before {
  background-image: url("../../images/robotbg.jpg");
  background-size: cover;
  background-position: center -260px;

  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.05;
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.contentBg5::before {
  background-image: url("../../images/dronebg.jpg");
  background-size: cover;
  background-position: center -260px;

  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.contentBg6::before {
  background-image: url("../../images/environmentbg.jpg");
  background-size: cover;
  background-position: center -90px;

  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.14;
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.contentImg {
  margin-top: 48px;
  width: 450px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  border: 2px solid #183159;
}

.rightImg {
  float: right;
}
.leftImg {
  float: left;
}
.digitalBg {
  background-image: url("../../images/digitalbg.jpg");
}
.dataBg {
  background-image: url("../../images/databg.png");
}
.droneBg {
  background-image: url("../../images/dronebg.jpg");
}
.environmentBg {
  background-image: url("../../images/environmentbg.jpg");
}
.robotBg {
  background-image: url("../../images/robotbg.jpg");
}
.treesBg {
  background-image: url("../../images/treesbg.jpg");
}

/* - - Copy Styling - - */

.columnText {
  margin: 10px 0 20px 0;
  display: block;
  font-size: 14px;
}

.columnSubtitle {
  font-weight: bold;
}

.columnHalf {
  width: 320px;
  height: auto;
}

* {
  box-sizing: border-box;
}

.columnHalf {
  width: 320px;
  height: auto;
}

.columnImg {
  display: none;
}

.columnTitle {
  margin-bottom: 30px;
  position: relative;
}

.columnTitle::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -15px;
  height: 1px;
  width: 100%;
  background-color: #eaeaea;
}

.contentPanelTextBlock {
  max-width: 600px;
}

.columnThird {
  height: Auto;
}

.accordionBlock h4 {
  margin: 14px 0px;
  font-size: 14px;
  font-weight: 400;
}

.accordionDivider {
  width: 100%;
  float: left;
  clear: both;
  padding: 10px 20px 11px;
  margin: 25px 0px 20px;
  background-color: #f5f2f9;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #dccee4;
  border-radius: 36px;
}

.paraWrap h4 {
  max-width: 750px;
}

.lastBoxLeft {
  width: 450px;
  float: left;
}
.bigPlanets {
  float: right;
  width: 300px;
  height: 300px;
}
.bigPlanets img {
  height: 300px;
  width: auto;
  margin: 0 auto;
  z-index: 10;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  transition: top 0.3s ease-in-out;
  float: right;
}

/* - - Animations  - - */

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  75% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  75% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* - - Animations  - - */

@keyframes spin1 {
  100% {
    transform: rotate(360deg);
  }
}
.spin1 {
  animation: spin1 9s linear infinite;
}
.spin2 {
  animation: spin1 19s linear infinite;
}
.spin3 {
  animation: spin1 49s linear infinite;
}
.spin4 {
  animation: spin1 200s linear infinite;
}
.spin5 {
  animation: spin1 99s linear infinite;
}
.spin6 {
  animation: spin1 49s linear infinite;
}

/* - Webfonts - */

.contentPanelTitle,
.avenir {
  font-family: "Avenir";
  font-weight: 900;
}
.sourceSansPro {
  font-family: "Source Sans Pro";
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../fonts/SourceSansPro-Black.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../../fonts/Avenir-Black.woff2") format("woff2"),
    url("../../fonts/Avenir-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../fonts/SourceSansPro-SemiBold.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../fonts/SourceSansPro-Italic.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../fonts/SourceSansPro-ExtraLight.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../fonts/SourceSansPro-LightItalic.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../fonts/SourceSansPro-BlackItalic.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../fonts/SourceSansPro-ExtraLightItalic.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../fonts/SourceSansPro-BoldItalic.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../fonts/SourceSansPro-Bold.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../fonts/SourceSansPro-Light.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../fonts/SourceSansPro-Regular.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../fonts/SourceSansPro-SemiBoldItalic.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

/* -- -- -- -- */
